.main{
    
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
}

.col-l{
    width: 200px;
    height: 100%;
    border: 1px solid black;
    float: left;
    margin: 0;
    padding: 0;
}

.col-m{
    min-width: 100px;
    width: calc(100vw - 500px);
    height: 100%;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    
}

.col-r{
    width: 300px;
    height: 100%;
    border: 1px solid black;
    float: right;
    margin: 0;
    padding: 0;
}
